.separadorprincipal{
    margin-top: 4rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(/imagenes/fondo.pintura.jpg);
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
    }