.separadoreventos{
  margin-top: 6rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  border-top:#ecb1b1 1px solid;
  border-bottom:#ecb1b1 1px solid;
  h1{
    margin-top: 5px;
  }
}

.container-eventos{
  margin: 0 auto;
    width: 80%;

      .card-eventos{
        background-image: url(../imagenes/fondo.recorte.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        margin-bottom: 3.125em; 
        text-align: center;
      }
      .card-feria{
        background-image: url(/imagenes/chocoart-chocolates-con-flores.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        margin-bottom: 3.125em; 
        text-align: center;
      }
.card-txt{
  border-radius: 20px;
  background: rgb(255, 255, 255);
  opacity: 60%;
  width: 80%;

}
  }
  
  


  