h1{
    font-size: 3.5em;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    
}


h2 {
    padding: 0.625rem;
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
    margin: auto;  
    text-align: center;
    color: black;
}

h3 {
    font-family: 'Great Vibes', cursive;
    font-weight: 12.5em;
    text-align: center;
}

h5 {
    padding: 5px;
    font-size: 7em;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;  
    font-weight: 12.5em;
    text-align: center;
}

p{
    font-style: normal;
}


