h1{
    font-size: 3.5em;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    margin-top: 15px;
    padding: 10px;
}


h2 {
    padding: 0.625rem;
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem; 
    margin: auto;  
    text-align: center;
    color: black;
}

h3 {
    padding: 1.25em;
    font-size: 7em;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;  
    font-weight: 12.5em;
    text-align: center;
}




