* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-size: 16px;
}


@import "fuentes";

body {
	font-weight: 300;
	background-image: url(../imagenes/fondoarcoiris.jpg.crdownload);
    background-size: cover;
	font-size: 16px;
}


.img-logo img{
    width: 100px;
    height:100px;
}


img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 90%;
	max-width: 75em;
	margin: 1.25rem auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   	header'
		'destacado		destacado 	destacado'
		'contenido		contenido 	aside'
		'footer	 		footer 		footer';
}

/* ---------- HEADER ----------*/
.header {
	grid-area: header;
	padding: 1.25rem;
	background-color: white;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

    .logo {
        margin-bottom: 1.25em;
        text-align: center;
        letter-spacing: 3px;
    }

    .img-logo {
        padding: 0.31em;
        display: inline-block;
        font-size: 1rem;
        margin-bottom: 0.93em;
        
    }
    
}






.menu {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	display: flex;
	justify-content: space-between;

    a {
        padding: 10px;
        color: #000;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        width: 100%;
        text-align: center;
        transition: 0.2s ease all;
        font-size: 0.8em;
    }

    a:hover {
        background:wheat;
        color:black;
    }
}





/* ---------- Articulos ----------*/
.articulo {
	display: flex;
	background: #fff;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);

    .contenedor-texto {
        padding: 1.25em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
    
    }

    .contenedor-thumbnail {
	width: 50%;
    }

    .extracto {
        font-size: 1.25em; 
        margin-bottom: 1.25rem; 
        color: #868b8d;
    }
}

 
/* ---------- Articulo Destacado ----------*/
.articulo.destacado {
	grid-area: destacado;
	color: white;
    background: white;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
	display: grid;
	grid-template-columns: 1.3fr 1fr;
}

.articulo.destacado .contenedor-thumbnail {
	min-height: 100%;
	width: 100%;
}


.destacado .titulo::after {
	content: '';
	margin: 0.5em 0; 
	display: block;
	background-color: #868686;
	width: 100%; 
	height: 1px;

}


/*---------- CONTENIDO ----------*/
.contenido {
	grid-area: contenido;
	display: grid;
	grid-template-columns: 1;
	grid-gap: 1.25rem; 
}

/*---------- SIDEBAR ----------*/
.sidebar {
	padding: 5em 1.56em; 
	text-align: center;
	min-height: 6.25rem; 
	grid-area: aside;
	background: #000;
	color: #868b8d;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.sidebar .acerca-de img {
	border-radius: 100%;
	height: 10em; 
	width: 10em; 
	margin-bottom: 1.56em; 
}

.sidebar .bio {
	margin-bottom: 1.56em; 
	font-size: 1.25em; 
	line-height: 1.56em; 
}

.sidebar .menu {
	width: 100%;
	display: inline-block;
	background: #ccc;
}

.sidebar .menu a {
	padding: 1.56rem; 
	color: #fff;
	background-color: #000;
	display: block;
	font-size: 1em;
	text-transform: uppercase;
}

.sidebar .menu a:hover {
	background: #262626;
}

/*---------- FOOTER ----------*/
.contenedor .footer {
	background: #fff;
	font-size: 1.25rem; 
	grid-area: footer;
	padding: 1.5625rem; 
	text-align: right;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

@media (max-width: 1200px) {
	body{
		font-size: 14px;
	}

}

@media (max-width: 900px) {
	.contenedor {
		grid-template-areas:
			'header			header   	header'
			'destacado		destacado 	destacado'
			'contenido		contenido 	contenido'
			'aside           aside      aside   '            
			'footer	 		footer 		footer';

			}

}


@media (max-width: 700px){

	.articulo.destacado {
		grid-template-columns: 1.3fr 1fr;
	}
	.articulo.destacado .contenedor-thumbnail {
		height: 16em;}


}


@media (max-width: 400px){
	body{
		font-size: 0.62em;
	}

    .articulo.destacado {
		grid-template-columns:1fr;
	}
 
}

$color: blanco; 
.bio p {
	@if ($color == blanco) {
		color: white;
	}
	@else {
		color:seashell;
	}


}